.Car{

    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-image: url('back2.jpg');
    background-repeat: no-repeat;
    background-attachment : fixed;
    background-size: cover;
}